
.app-condition-title {
    display: inline-block;
    background: var(--bulma-background);
    padding: .5rem 1rem;
}
.app-condition {
    padding:1rem;
    max-width: var(--app-max-width);
    background: var(--bulma-background);
}
.app-horizontal-scroll {
    max-width: calc(100vw - 2rem);
}

/* responsive 最下部に記載 ここから */
.app-small-screen-block-or-flex>* {
  display: block;
}
@media screen and (min-width: 768px) {
  .app-small-screen-block-or-flex>* {
    display: unset
  }
}
/* responsive 最下部に記載 ここまで */
