<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="message(validated, key)" th:remove="tag">
    <th:block
            th:if="${validated != null && validated.errors != null && validated.errors.get(key) != null && !validated.errors.get(key).ok()}">
        <th:block th:each="e : ${validated.errors.get(key).errors}">
            <div th:text="${@messageComponent.getMessage(e.messageKey)}" class="has-text-danger">メッセージ</div>
        </th:block>
    </th:block>
</th:block>
</html>
