<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:remove="tag">
  <!--/* referrer-policy のベストプラクティス
   https://qiita.com/n3_x/items/c2bafd5872af61147c89 */-->
  <meta name="referrer" content="strict-origin-when-cross-origin"/>
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/fontawesome.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/solid.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/app-bulma.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/common.css}"/>
  <script th:src="@{/assets/js/common.js}"></script>
  <link rel="icon" type="image/x-icon" th:href="@{assets/image/logo_128.png}">
</head>

<head th:fragment="title(pageName)" th:remove="tag">
  <title th:text="${pageName} + ' - ' + ${@environment.getProperty('app.name')}"></title>
</head>

<header th:fragment="hero" class="app-header app-flex-v-center">
  <a th:href="@{/}" class="is-size-3 app-name"
     th:text="${@environment.getProperty('app.name')}"></a>
  <span class="app-flex-1"></span>
  <a href="https://github.com/green-code-developer/sample_todo_app" target="_blank">
    <img th:src="@{/assets/image/github-mark.png}" class="app-github-icon app-light-mode"/>
    <img th:src="@{/assets/image/github-mark-white.png}" class="app-github-icon app-dark-mode"/>
  </a>
</header>

</html>
