<!DOCTYPE html>
<!--/*
intelliJ community edition で開くと「URI is not registered」の警告が出るが動作に支障はない。
対応するには有償版を購入する必要があるようだ。
https://stackoverflow.com/questions/38730992/thymleaf-for-spring-in-intellij-uri-is-not-registered
*/-->
<html lang="ja" xmlns:th="http://www.thymeleaf.org" data-theme="light"
      th:with="pageName=${dto.isNew() ? '登録' : '更新'}">
<head>
    <th:block th:replace="~{layout/head::title(${pageName})}"></th:block>
    <th:block th:replace="~{layout/head::head}"/>
    <link rel="stylesheet" th:href="@{/assets/css/todo/todo_edit.css}"/>
    <script th:src="@{/assets/js/todo/todo_edit.js}"></script>
</head>
<body>
<th:block th:replace="~{layout/head::hero}"></th:block>
<th:block th:replace="~{layout/notification::notification}"></th:block>
<div class="app-overwrap-nav close app-large-screen-hidden">
    <th:block th:replace="~{layout/sidemenu::normal}"></th:block>
</div>
<div class="app-view-two-column">
    <div class="app-left app-small-screen-hidden-or-block">
        <th:block th:replace="~{layout/sidemenu::normal}"></th:block>
    </div>

    <div class="app-right">
        <header class="app-gap-bottom is-size-4" th:text="${pageName}"></header>
        <form th:action="@{/upsert}" th:object="${dto}" method="post" class="app-form" id="form">
            <input type="hidden" th:field="*{todoId}">
            <th:block th:if="${!dto.isNew()}">
                <div class="app-gap-bottom">
                    <span th:text="'#' + *{todoId}"></span>
                </div>
            </th:block>

            <div class="app-gap-bottom">
                <label>やること<span class="has-text-danger">*必須</span></label>
                <textarea class="textarea" rows="2" th:field="*{detail}" maxlength="100" required="required"></textarea>
                <th:block th:replace="~{layout/app_error::message(${result}, 'detail')}"></th:block>
            </div>

            <div class="app-gap-bottom">
                <label>完了予定日</label>
                <input class="input" th:field="*{deadline}" type="date">
                <th:block th:replace="~{layout/app_error::message(${result}, 'deadline')}"></th:block>
            </div>

            <th:block th:if="${!dto.isNew()}">
                <div>
                    <label>ステータス</label>
                    <div>
                        <div class="select">
                            <select class="select" th:field="*{todoStatus}">
                                <th:block th:each="e : ${@enumComponent.todoStatusEnum}">
                                    <option th:value="${e.value.name()}" th:text="${e.label}"></option>
                                </th:block>
                            </select>
                            <th:block th:replace="~{layout/app_error::message(${result}, 'status')}"></th:block>
                        </div>
                    </div>
                </div>
            </th:block>

            <div class="app-gap-large app-flex-v-center">
                <input type="submit" class="button is-primary" th:value="${dto.isNew() ? '登録' : '更新'}"/>
                <a th:href="@{/list(usePrevCondition=true)}"
                   class="app-gap-left button is-text is-small app-text-no-decoration" id="cancel">キャンセル</a>
            </div>
        </form>
    </div>
</div>
</body>
