<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:with="pageName='一覧'" data-theme="light">
<head>
    <th:block th:replace="~{layout/head::title(${pageName})}"></th:block>
    <th:block th:replace="~{layout/head::head}"/>
    <link rel="stylesheet" th:href="@{/assets/css/todo/todo_list.css}"/>
    <script th:src="@{/assets/js/todo/todo_list.js}"></script>
</head>
<body>
<th:block th:replace="~{layout/head::hero}"></th:block>
<th:block th:replace="~{layout/notification::notification}"></th:block>
<div class="app-overwrap-nav close app-large-screen-hidden">
    <th:block th:replace="~{layout/sidemenu::normal}"></th:block>
</div>
<div class="app-view-two-column">
    <div class="app-left app-small-screen-hidden-or-block">
        <th:block th:replace="~{layout/sidemenu::normal}"></th:block>
    </div>
    <div class="app-right">
        <header class="is-size-4" th:text="${pageName}"></header>
        <div class="app-gap">
            <div class="app-condition-title app-toggle-switch app-text-select-none app-text-pointer"
                 data-toggle-key="search"
                 th:classappend="|${true ? 'app-toggle-switch' : ''} ${dto.isNoCondition ? '' : 'app-toggle-open'}|">
                <i class="fa-solid fa-caret-right app-gap-right-small app-toggle-icon"></i>検索条件・並べ替え
            </div>
            <div class="app-toggle app-condition" data-toggle-key="search">
                <form action="#" th:action="@{/list}" th:object="${dto}" method="get">
                    <div class="app-form-field">
                        <label for="word" class="app-flex-v-center">詳細</label>
                        <div class="app-form-value">
                            <input class="input" id="word" th:field="*{word}" maxlength="100">
                            <th:block th:replace="~{layout/app_error::message(${result}, 'word')}"></th:block>
                        </div>
                    </div>
                    <div class="app-form-field">
                        <label for="status" class="app-flex-v-center">ステータス</label>
                        <div class="app-form-value">
                            <div class="select">
                                <select class="select" th:field="*{status}" id="status">
                                    <option value=""></option>
                                    <th:block th:each="e : ${@enumComponent.todoStatusEnum}">
                                        <option th:value="${e.value.name()}" th:text="${e.label}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <th:block th:replace="~{layout/app_error::message(${result}, 'status')}"></th:block>
                        </div>
                    </div>
                    <div class="app-form-field">
                        <label for="deadlineFrom" class="app-flex-v-center">完了予定日</label>
                        <div class="app-form-value">
                            <div class="app-flex-v-center app-small-screen-block-or-flex">
                                <input class="input" type="date" th:field="*{deadlineFrom}" maxlength="10"
                                       id="deadlineFrom">
                                <span class="app-gap-left app-gap-right">〜</span>
                                <input class="input" type="date" th:field="*{deadlineTo}" maxlength="10">
                            </div>
                            <th:block th:replace="~{layout/app_error::message(${result}, 'deadlineFrom')}"></th:block>
                            <th:block th:replace="~{layout/app_error::message(${result}, 'deadlineTo')}"></th:block>
                        </div>
                    </div>
                    <div class="app-form-field">
                        <label for="sort" class="app-flex-v-center">並び順</label>
                        <div class="app-form-value">
                            <div class="select">
                                <select class="select" th:field="*{sort}" id="sort">
                                    <option value=""></option>
                                    <th:block th:each="e : ${@enumComponent.getTodoSearchSortEnum()}">
                                        <option th:value="${e.value.name()}" th:text="${e.label}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <th:block th:replace="~{layout/app_error::message(${result}, 'sort')}"></th:block>
                        </div>
                    </div>
                    <div class="app-form-field">
                        <label for="pageSize" class="app-flex-v-center">1ページ件数</label>
                        <div class="app-form-value">
                            <div class="select">
                                <select class="select" th:field="*{pageSize}" id="pageSize">
                                    <th:block th:replace="~{layout/pagination::pageOption(${dto.pageSize})}"></th:block>
                                </select>
                            </div>
                            <th:block th:replace="~{layout/app_error::message(${app}, 'size')}"></th:block>
                        </div>
                    </div>
                    <input type="hidden" name="currentPage" value="1" data-pagination-key="main">
                    <div class="app-gap-top-large app-flex-center-center">
                        <button type="submit" class="button is-primary">検索</button>
                        <span class="app-text-link app-gap-left button app-text-no-decoration is-small"
                              id="clear">クリア</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="app-gap-top-large app-gap-bottom">
            <th:block th:if="${list.isEmpty()}">
                <div class="app-gap-large">データが見つかりませんでした</div>
            </th:block>
            <th:block th:if="${!list.isEmpty()}">
                <div class="app-horizontal-scroll">
                    <table class="table is-bordered is-striped is-hoverable">
                        <tr class="app-text-nowrap">
                            <th>#</th>
                            <th>ステータス</th>
                            <th>詳細</th>
                            <th>完了予定日</th>
                            <th>更新日時</th>
                        </tr>
                        <tr th:each="p : ${list}">
                            <td>
                                <a th:text="${p.todoId}" th:href="@{/edit/{id}(id=${p.todoId})}"
                                   class="app-text-underline"></a>
                            </td>
                            <td class="app-text-nowrap"
                                th:text="${@enumLabelResolver.getLabel(p.todoStatus)}"></td>
                            <td class="app-text-breakall" th:text="${p.detail}"></td>
                            <td class="app-text-nowrap" th:text="${@dateComponent.toYMD(p.deadline)}"></td>
                            <td class="app-text-nowrap" th:text="${@dateComponent.toYMD_HM(p.updatedAt)}"></td>
                        </tr>
                    </table>
                </div>
            </th:block>
        </div>
        <th:block th:replace="~{layout/pagination::pagination(${page})}"></th:block>
        <div class="app-gap-large">
            <a th:href="@{/new}" class="button is-primary">登録</a>
        </div>
    </div>
</div>
</body>
